{% extends 'base.html' %}

{% block title%}
Add point
{%endblock%}

{% block content%}  

<style>
    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      
      
      form {
        max-width: 300px;
        margin: 10px auto;
        padding: 10px 20px;
        background: #f4f7f8;
        border-radius: 8px;
        position: absolute;
        top:4em;
        right:1em;
      }
      
      h1 {
        margin: 0 0 10px 0;
        text-align: center;
      }
      
      input[type="text"],
      input[type="password"],
      input[type="date"],
      input[type="datetime"],
      input[type="email"],
      input[type="number"],
      input[type="search"],
      input[type="tel"],
      input[type="time"],
      input[type="url"],
      textarea,
      select {
        background: rgba(255,255,255,0.1);
        border: none;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 10px;
        width: 100%;
        background-color: #e8eeef;
        color: #8a97a0;
        box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
        margin-bottom: 15px;
      }
      
      input[type="radio"],
      input[type="checkbox"] {
        margin: 0 4px 4px 0;
      }
      
      select {
        padding: 6px;
        height: 32px;
        border-radius: 2px;
      }
      
      button {
        padding: 19px 39px 18px 39px;
        color: #FFF;
        background-color: #4bc970;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #3ac162;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
        margin-bottom: 5px;
      }
      
      fieldset {
        margin-bottom: 15px;
        border: none;
      }
      
      legend {
        font-size: 1.4em;
        margin-bottom: 5px;
      }
      
      label {
        display: block;
        margin-bottom: 2px;
      }
      
      label.light {
        font-weight: 300;
        display: inline;
      }
      
      @media screen and (min-width: 480px) {
      
        form {
          max-width: 480px;
        }
      
      }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" id = "brand" href="addpoint"><b>EV-charge</b></a>
    <a class="dropdown-item" href="logout">Logout</a>
  </nav>


  <div id="map" style="width:100%; height:92vh; z-index:0;"></div>


  <form action="index.html" method="post">
  
    <h1>Add new charging point</h1>
    
    <fieldset>
      <legend></span>Enter the details</legend>
      <label>Station name</label>
      <input type="text" id="name" name="name">
      
      <label>Latitude</label>
      <input type="text" id="name" name="name">

      <label>Longitude</label>
      <input type="text" id="name" name="name">
      
      <label>charging price</label>
      <input type="text" id="name" name="name">
      
      <label>Charger type</label>
      <input type="radio" value="Type 1" name="chargetype"><label class="light">Type 1</label>
      <input type="radio" value="Type 2" name="chargetype"><label class="light">Type 2</label>
    </fieldset>
    <button type="submit">ADD STATION</button>
  </form>

  <script>
    var map = L.map('map').setView([10.779, 76.655], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    L.control.locate().addTo(map);
  </script>
{% endblock %}